html {
	font-family: Rubik, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
	background-color: #222;
	color: wheat;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid: 5em 1fr 1fr / 1fr;
	gap: 1em;
}

body * {
	font-family: inherit;
}

input {
	margin-top: 0.1em;
	appearance: none;
	outline: none;
	border: none;
	border-radius: 1em;
	padding: 0 0.5em;
	height: 2em;
	box-shadow: none;
	justify-self: center;
}

input:valid {
	box-shadow: none;
}

input:invalid {
	box-shadow: 0 0 0.5em red;
}

button {
	appearance: none;
	outline: none;
	border: none;
	border-radius: 0.5em;
	height: 1.5em;
	justify-self: center;
	padding: 0 1em;
}

button:hover,
button:focus,
input:hover,
input:focus {
	transition: box-shadow 0.1s;
	box-shadow: 0 0 0.5em wheat;
}

input:focus {
	transition: width 0.1s;
	width: 20em;
}

.controls-section {
	display: grid;
	gap: 0.5em;
	justify-content: center;
	align-items: center;
}

.books-section {
	display: grid;
	text-align: center;
}

.shelves {
	margin: 0 1em;
	justify-content: center;
	align-items: center;
	display: grid;
	grid: 1fr / 10em 10em 10em;
	gap: 1em;
}

.add {
	display: grid;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
}

.add > label {
	justify-self: center;
	width: 10em;
}
